/* ITEMS */
.item {
  width: 33.33%;
  max-height: 700px;
  border-radius: 10px;
  display: flex;
  flex-shrink: 1;
  flex-flow: column;
  margin-bottom: 2rem;
}
@media (max-width: 1687px) {
  .item {
    width: 50%;
  }
}

@media (max-width: 1300px) {
  .item {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .item {
    justify-self: center;
    margin: auto auto 4rem auto;
    width: 60%;
    max-height: fit-content;
  }
} 
@media (max-width: 768px) {
  .item {
    width: 80%;
    max-height: fit-content;
  }
} 

.item-image {
  height: 70%;
  margin: auto;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .item-image {
    height: auto;
    width: auto;
  }
}

.placeholder-img {
  background-color: rgb(240, 240, 240);
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.item-image img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.item-caption {
  text-align: center;
  margin: 1rem;
}

.item-title {
  text-align: left;
  height: 7.5rem;
  margin: auto;
}

